@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
    
}

/* body{
    background-color: darkslategray;
    background-image: url('./animated/back_weather_app.png');
   
} */
.back{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
}
.card{
   
    width: 400px;
    height: 80px;
    background-color: rgba(255, 255, 255, 0.151);
    margin-top: 30px;
    border-radius: 20px;
    -webkit-backdrop-filter: blur(6px);
    backdrop-filter: blur(10px);
    box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.2);

}
.search{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
    
    
}


.search input{
    padding: 5px 10px;
    width: 300px; 
    height: 30px;
    margin-right: 10px;
    border-radius: 20px;
    border: none;
    /* background-color: rgb(195, 241, 255); */
   

}
#searchBtn{
    
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: none;
    padding: 5px 5px;   
    cursor: pointer;

}
.w1{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
   
}
.w1 img{
    width: 200px;
    margin-top: -30px;

  
}
#temp{
    font-size: 60px;
    font-weight: 600;
    color: rgba(255, 255, 255, 225);
    margin-top: -50px;
}
#city{
    font-size: 30px;
    font-weight: 500;
    color: rgb(255, 255, 255);
    margin-top: -20px;
}
.w2{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 40px;
}
#invalidCity{
    font-size: 13px;
    text-align: center;
    color: rgb(255, 0, 0);
    font-weight: 600;
    margin-top: px;
    display: none;
    color:#f2f2f2;
}
.humidity{

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
    margin-left: 20px;

}
.humidity img{
    width: 70px;
}

.wind{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
    margin-right: 20px;

}
.wind img{
    width: 70px;
}
#th{
    font-size: 20px;
}
#tw{
    font-size: 20px;
}
.weatherStatus{
    display: none;
}


i { 
    
    display: inline-block;
    height: 16px;
    width: 16px;
    border-radius: 50%;
    animation: falling 3s linear 0s infinite backwards;
    /* Snowflakes are made with CSS linear gradients (https://developer.mozilla.org/en-US/docs/Web/CSS/Guides/Images/Using_gradients) */
    background-image:
      linear-gradient(180deg, transparent 40%, white 40% 60%, transparent 60%),
      linear-gradient(90deg, transparent 40%, white 40% 60%, transparent 60%),
      linear-gradient(45deg, transparent 43%, white 43% 57%, transparent 57%),
      linear-gradient(135deg, transparent 43%, white 43% 57%, transparent 57%);
    
  }
  i:nth-of-type(4n) {
    /* Using tree structural pseudo-classes to create randomness - https://developer.mozilla.org/en-US/docs/Web/CSS/Reference/Selectors/:nth-of-type */
    height: 30px;
    width: 30px;
    transform-origin: right -30px;
  }
  i:nth-of-type(4n + 1) {
    height: 24px;
    width: 24px;
    transform-origin: left 30px;
    
  }
  i:nth-of-type(4n + 2) {
    height: 10px;
    width: 10px;
    transform-origin: -30px 0;
  }
  i:nth-of-type(4n + 3) {
    height: 40px;
    width: 40px;
    transform-origin: -50px 0;
  }
  i:nth-of-type(4n) {
    animation-duration: 5.3s;
    animation-iteration-count: 12;
    transform-origin: -10px -20px;
  }
  i:nth-of-type(4n + 1) {
    animation-duration: 3.1s;
    animation-iteration-count: 20;
    transform-origin: 10px -20px;
  }
  i:nth-of-type(4n + 2) {
    animation-duration: 1.7s;
    animation-iteration-count: 35;
    transform-origin: right -20px;
  }
  i:nth-of-type(3n) {
    animation-delay: 2.3s;
  }
  i:nth-of-type(3n + 1) {
    animation-delay: 1.5s;
  }
  i:nth-of-type(3n + 2) {
    animation-delay: 3.4s;
  }
  i:nth-of-type(5n) {
    animation-timing-function: ease-in-out;
  }
  i:nth-of-type(5n + 1) {
    animation-timing-function: ease-out;
  }
  i:nth-of-type(5n + 2) {
    animation-timing-function: ease;
  }
  i:nth-of-type(5n + 3) {
    animation-timing-function: ease-in;
  }
  i:nth-of-type(5n + 4) {
    animation-timing-function: linear;
  }
  i:nth-of-type(11n) {
    animation-timing-function: cubic-bezier(0.2, 0.3, 0.8, 0.9);
  }
  i:nth-of-type(7n) {
    opacity: 0.5;
  }
  i:nth-of-type(7n + 2) {
    opacity: 0.3;
  }
  i:nth-of-type(7n + 4) {
    opacity: 0.7;
  }
  i:nth-of-type(7n + 6) {
    opacity: 0.6;
    animation-timing-function: ease-in;
    transform-origin: left 10px;
  }
  i:nth-of-type(7n + 1) {
    opacity: 0.8;
  }

  
  .root {
    height: 100%;
    background-color: rgba(84, 182, 238, 0.581);
    /* border: 1px solid darkgrey; */
    position:absolute;
    overflow: hidden;
    /* background-size: auto ;  rgb(137, 207, 235); */
    
  }
  .ground,
  .cloud {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    background-repeat: no-repeat;
  }
  .cloud {
    width: 100%;
    height: 100%;
    background: white;
    border-radius: 0 0 90px 33% / 0 0 45px 50px;
    box-shadow:
      5px 15px 15px white,
      -5px 15px 15px white,
      0 20px 20px rgb(125 125 125 / 0.5);
    animation:
      clouds ease 5s alternate infinite 0.2s,
      wind ease-out 4s alternate infinite;
  }
  .ground {
    bottom: 0;
    /* background-image: linear-gradient(to top, white 97%, 99%, #bbbbbb 100%); */
    /* background-position: 100%; */
    background-size: 100px 100px;
    animation: snowfall linear 300s forwards;
    /* border: 1px solid grey; */
    /* Put the ground into a 3D rendering context (because the snow flakes are in a 3d rendering context) */
    transform: translate3d(0, 0, 0);

  }
  
  @keyframes snowfall {
    from {
      background-position: center 580px;
    }
    to {
      background-position: 500px;
    }
  }
  
  @keyframes clouds {
    from {
      border-radius: 0 0 90px 33% / 0 0 45px 50px;
    }
    to {
      border-radius: 0 0 40px 50% / 0 0 55px 80px;
    }
  }
  
  @keyframes wind {
    from {
      height: 150px;
    }
    to {
      height: 100px;
    }
  }
  
  @keyframes falling {
    from {
      transform: translate(0, -50px) rotate(0deg) scale(0.9, 0.9);
    }
    to {
      transform: translate(30px, 600px) rotate(360deg) scale(1.1, 1.1);
    }
  }
  
  /* By default, the animations are paused. */
  i,
  div[class] {
    animation-play-state: paused;
  }
  /* When the div is hovered, the animation plays. Also,
  when the input is checked, the animation coming after the checked checkbox plays */
  div:hover *,
  input:checked ~ div * {
    animation-play-state: running;
  }
  
  /* Change the content of the label that comes right after the input. Included aria-label on the label to improve accessibility. */
  input + label::before {
    content: "Play ";
  }
  input:checked + label::before {
    content: "Pause ";
  }
  